In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', 500)

In [3]:
data = pd.read_csv('/home/jupyter-brooks.leitner/pubmed-codeathon-team1/data/out/pmid_data.csv')

In [9]:
country_journal_feature = data[['query', 'search_type', 'page', 'country']]
country_journal_feature.dropna(subset=["country"])

                query   search_type  page        country
0            Moyamoya     relevance     1  United States
1            Moyamoya     relevance     1        Germany
2            Moyamoya     relevance     1    Switzerland
...               ...           ...   ...            ...
7203  literacy skills  pubdate_desc     2        England
7204  literacy skills  pubdate_desc     2        England
7205  literacy skills  pubdate_desc     2      Australia

[7089 rows x 4 columns]

In [10]:
#Define US, England, or Ireland as a value of 1, And anything else as 0

def country_setting(country):
    if country == 'United States':
        condition = 1
    elif country == 'Ireland':
        condition = 1
    elif country == 'England':
        condition = 1
    else:
        condition = 0
    return condition

country_journal_feature['country_code'] = country_journal_feature.apply(lambda x: country_setting(x['country']), axis=1)

/tmp/ipykernel_260390/3135408885.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_journal_feature['country_code'] = country_journal_feature.apply(lambda x: country_setting(x['country']), axis=1)

In [14]:
# Group by queries for later analysis, take the mean (we dropped values)
group_keys = ["query", "search_type", "page"]
country_journal_feature_summary = country_journal_feature.groupby(group_keys).country_code.mean()

In [16]:
country_journal_feature_summary.to_csv('/home/jupyter-brooks.leitner/pubmed-codeathon-team1/data/features/country_journal.csv')